<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<!-- 사용자 CSS 추가-->
<th:block layout:fragment="css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<style>
		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: 15%;
			margin-right: 15%;
		}

		.fieldError {
			color: #bd2130;
		}

		a {
			text-decoration: none;
		}

		.btn-kiwi {
			background-color: #70ACB1;
			color: white;
			border-color: #666;
		}
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>


	<script>
		var IMP = window.IMP;
		IMP.init("imp77524147");

		function requestPay() {
			var money = $('input[name="cp_item"]:checked').val();
			console.log(money);
			
			IMP.request_pay({
				pg: 'html5_inicis',
				merchant_uid: 'merchant_' + new Date().getTime(),

				name: '키위 마일리지 충전',
				amount: money,
				buyer_email: 'iamport@siot.do',
				buyer_name: '구매자이름',
				buyer_tel: '010-1234-5678',
				buyer_addr: '인천광역시 부평구',
				buyer_postcode: '123-456'
			}, function (rsp) { // callback
				if (rsp.success) {
					var msg = '결제가 완료되었습니다.';
					msg += '고유ID : ' + rsp.imp_uid;
					msg += '상점 거래ID : ' + rsp.merchant_uid;
					msg += '결제 금액 : ' + rsp.paid_amount;
					msg += '카드 승인번호 : ' + rsp.apply_num;
					$.ajax({
						type: "GET",
						url: "/cash/test/charge", //충전 금액값을 보낼 url 설정
						data: {
							"amount": money,	
							"merchant_uid" : rsp.merchant_uid,
							"imp_uid" : rsp.imp_uid,
							"apply_num" : rsp.apply_num
						},
					});
				} else {
					var msg = '결제에 실패하였습니다.';
					msg += '에러내용 : ' + rsp.error_msg;
				}
				alert(msg);
				document.location.href = "/members/mypage"; //alert창 확인 후 이동할 url 설정
			});
		}
	</script>



</th:block>


<div layout:fragment="content">
	<div class="container">


		<div style="float: left; width: 100%; margin-right: 80px; margin-left: 55px; text-align: center;">
			<div style="border: 1px solid black; float: left; width: 100%;">
				<div style="margin-left: 55px; text-align: left; margin-top: 20px; margin-bottom: 20px">
					8월 30일 월요일 <br> 12:00 ~ 14:00 <Br> 연수 배드민턴장<Br>
				</div>
			</div>
		</div>



		<br> <Br> <br> <br> <Br> <br>
		<div style="margin-left: 55px; margin-right: 80px; margin-top: 20px; width: 100%;">
			<div style="float: left; width: 98%; font-weight: bold;">소셜 매치</div>
			<Br>
			<hr>
			<br>
			<div style="float: left; width: 80%; font-weight: bold;">결제 금액</div>
			<div style="float: right; font-weight: bold; margin-right: 10px;">
				10000원</div>
			<Br>
			<hr style="margin-bottom: 0px">
			<br>
			<div style="float: left; width: 50%;">
				<div style="float: left; width: 88%; font-weight: bold; height: 50px; margin-top: 7px;">사용
					가능 캐시</div>
			</div>

			<div style="float: left; width: 50%; height: 100px">
				<!-- <button type="button" class="btn btn-kiwi" style="float: right; margin-right: 10px;">충전</button>
				<input type="text" class="form-control" style="float: right; width: 30%;margin-right: 0px;"> -->

				<div class="input-group mb-3" style="float: right; width: 30%; margin-right: 0px;">
					<input type="text" class="form-control" aria-label="Recipient's username"
						aria-describedby="button-addon2">
					<button class="btn btn-kiwi" type="button">충전</button>
					
					
					
				</div>
			</div>

			<Br> <br>
			<hr>
			
			<p style="font-weight: bold">키위 캐시 충전</p>
                <label class="box-radio-input"><input type="radio" name="cp_item" value="100"><span>100원</span></label>
                <label class="box-radio-input"><input type="radio" name="cp_item" value="110"><span>110원</span></label>
                <label class="box-radio-input"><input type="radio" name="cp_item" value="120"><span>120원</span></label>
			<button type="button" class="btn btn-kiwi" onclick="requestPay()">충 전 하 기</button>
			<Br>

			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
							style="font-weight: bold;">예약 전 안내</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">-예약변경 : 예약내용 변경은 불가능하며 취소 후 다시
							예약하셔야 합니다.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
							style="font-weight: bold;">환불 안내</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							- 키위캐시를 충전 후 <strong>일부 금액 사용했거나 취소 기간이 지난 경우 문의</strong> 접수시 필요
							서류 안내드립니다.<br> 환불 수수료는 보유 키위 캐시가 10,000원 이상 시 10% 공제 10,000원
							미만시 수수료 1000원 공제됩니다. <br>더 자세한 내용이 궁금하시다면 카카오톡 1:1 문의
							부탁드립니다.

						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
							style="font-weight: bold;">COVID-19</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<strong>- (시설방역) 1일 2회 방역시간(08:00~08:59, 21:00~22:00
								이용불가)</strong><br> <strong>- (실내) 경기중 마스크 착용, 취식금지(물, 무알콜
								음료는 제외)</strong>
						</div>
					</div>
				</div>
			</div>

		</div>



	</div>

</div>




</html>