<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
	<section class="hbody">
		<article class="nav">
		 <div class="title"></div>
			<!--  <div class="title"><a href="/"><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FlQesz%2FbtrL4ldJP3Z%2FTNK2nYKJ4ZGo3iQZc1NyLk%2Fimg.png" alt="kiwi"></a></div> -->
			<ul id="menu">
				<a href="/">
				<img class="logo" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FlQesz%2FbtrL4ldJP3Z%2FTNK2nYKJ4ZGo3iQZc1NyLk%2Fimg.png"
						alt="kiwi">
				</a>
				<li sec:authorize="isAnonymous()">
					<!-- hasAnyAuthority('ROLE_ADMIN') --> <a href="/admin/item/new">소셜매치</a>
					<!-- 상품등록 -->
				</li>
				<li sec:authorize="isAnonymous()">
					<!-- hasAnyAuthority('ROLE_ADMIN') --> <a href="/admin/items">코트예약</a>
					<!-- 상품관리 -->
				</li>
				<li sec:authorize="isAnonymous()">
					<!-- isAuthenticated() --> <a href="/cart">키위마켓</a> <!-- 장바구니 -->
				</li>
				<li sec:authorize="isAnonymous()">
					<!-- isAuthenticated() --> <a href="/orders">구매이력</a>
				</li>
				<li sec:authorize="isAnonymous()"><a href="/members/login">로그인</a>
					<a href="/members/new">/회원가입</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/members/logout">프로필</a>
					<a href="/members/logout">/로그아웃</a></li>
			</ul>
			<i></i>
		</article>
	</section>
</div>

</html>