<!DOCTYPE html>
<!-- marketEdit -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가-->
<th:block layout:fragment="css">
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		crossorigin="anonymous">

	<style>
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 15%;
	margin-right: 15%;
}

.edit {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 15%;
	margin-right: 15%;
}

.fieldError {
	color: #bd2130;
}

a {
	text-decoration: none;
}

.head { /*지역, 도시, 검색창, 글쓰기 버튼*/
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 50px;
}

.btn-kiwi {
	background-color: #70ACB1;
	color: white;
	border-color: #666;
}

.btn-kiwi:hover {
	color: white;
	background-color: #70ACB1;
	border-color: #7cc
}

.btn-cancel {
	background-color: #D5D5D5;
	color: black;
	border-color: #666;
}

.btn-cancel:hover {
	background-color: #D5D5D5;
	color: black;
	border-color: #7cc;
	color: black;
}

.ck-editor__editable {
	height: 400px;
	width: 100%;
}

.modal-dialog {
	width: 300px;
	height: 300px;
}

.ck.ck-editor {
	max-width: 800px;
}

.ck-editor__editable {
	min-height: 800px;
}
</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<script th:inline="javascript">
	 $(document).ready(function (){
         var errorMessage = [[${errorMessage}]];
         
         console.log(errorMessage);
         if(errorMessage != null){
             alert(errorMessage);
         } 
         
         
     }); 

        /*function bindDomEvent(){
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();  //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
                fileExt = fileExt.toLowerCase(); //소문자 변환

                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                $(this).siblings(".custom-file-label").html(fileName);
            });
        }*/

    </script>

	<!-- 도시 / 지역 선택 -->
	<script type="text/javascript">
		$('document').ready(function () {
			var area0 = ["지역", "서울특별시", "인천광역시", "대전광역시", "광주광역시", "대구광역시", "울산광역시", "부산광역시", "경기도", "강원도", "충청북도", "충청남도", "전라북도", "전라남도", "경상북도", "경상남도", "제주도"];
			var area1 = ["강남구", "강동구", "강북구", "강서구", "관악구", "광진구", "구로구", "금천구", "노원구", "도봉구", "동대문구", "동작구", "마포구", "서대문구", "서초구", "성동구", "성북구", "송파구", "양천구", "영등포구", "용산구", "은평구", "종로구", "중구", "중랑구"];
			var area2 = ["계양구", "미추홀구", "남동구", "동구", "부평구", "서구", "연수구", "중구", "강화군", "옹진군"];
			var area3 = ["대덕구", "동구", "서구", "유성구", "중구"];
			var area4 = ["광산구", "남구", "동구", "북구", "서구"];
			var area5 = ["남구", "달서구", "동구", "북구", "서구", "수성구", "중구", "달성군"];
			var area6 = ["남구", "동구", "북구", "중구", "울주군"];
			var area7 = ["강서구", "금정구", "남구", "동구", "동래구", "부산진구", "북구", "사상구", "사하구", "서구", "수영구", "연제구", "영도구", "중구", "해운대구", "기장군"];
			var area8 = ["고양시", "과천시", "광명시", "광주시", "구리시", "군포시", "김포시", "남양주시", "동두천시", "부천시", "성남시", "수원시", "시흥시", "안산시", "안성시", "안양시", "양주시", "오산시", "용인시", "의왕시", "의정부시", "이천시", "파주시", "평택시", "포천시", "하남시", "화성시", "가평군", "양평군", "여주군", "연천군"];
			var area9 = ["강릉시", "동해시", "삼척시", "속초시", "원주시", "춘천시", "태백시", "고성군", "양구군", "양양군", "영월군", "인제군", "정선군", "철원군", "평창군", "홍천군", "화천군", "횡성군"];
			var area10 = ["제천시", "청주시", "충주시", "괴산군", "단양군", "보은군", "영동군", "옥천군", "음성군", "증평군", "진천군", "청원군"];
			var area11 = ["계룡시", "공주시", "논산시", "보령시", "서산시", "아산시", "천안시", "금산군", "당진군", "부여군", "서천군", "연기군", "예산군", "청양군", "태안군", "홍성군"];
			var area12 = ["군산시", "김제시", "남원시", "익산시", "전주시", "정읍시", "고창군", "무주군", "부안군", "순창군", "완주군", "임실군", "장수군", "진안군"];
			var area13 = ["광양시", "나주시", "목포시", "순천시", "여수시", "강진군", "고흥군", "곡성군", "구례군", "담양군", "무안군", "보성군", "신안군", "영광군", "영암군", "완도군", "장성군", "장흥군", "진도군", "함평군", "해남군", "화순군"];
			var area14 = ["경산시", "경주시", "구미시", "김천시", "문경시", "상주시", "안동시", "영주시", "영천시", "포항시", "고령군", "군위군", "봉화군", "성주군", "영덕군", "영양군", "예천군", "울릉군", "울진군", "의성군", "청도군", "청송군", "칠곡군"];
			var area15 = ["거제시", "김해시", "마산시", "밀양시", "사천시", "양산시", "진주시", "진해시", "창원시", "통영시", "거창군", "고성군", "남해군", "산청군", "의령군", "창녕군", "하동군", "함안군", "함양군", "합천군"];
			var area16 = ["서귀포시", "제주시", "남제주군", "북제주군"];



			// 시/도 선택 박스 초기화

			$("select[name^=sido]").each(function () {
				$selsido = $(this);
				$.each(eval(area0), function () {
					$selsido.append("<option value='" + this + "'>" + this + "</option>");
				});
				$selsido.next().append("<option value=''>도시</option>");
			});



			// 시/도 선택시 구/군 설정

			$("select[name^=sido]").change(function () {
				var area = "area" + $("option", $(this)).index($("option:selected", $(this))); // 선택지역의 구군 Array
				var $gugun = $(this).next(); // 선택영역 군구 객체
				$("option", $gugun).remove(); // 구군 초기화

				if (area == "area0")
					$gugun.append("<option value=''>지역</option>");
				else {
					$.each(eval(area), function () {
						$gugun.append("<option value='" + this + "'>" + this + "</option>");
					});
				}
			});


		});

	</script>
</th:block>


<div layout:fragment="content">
	<form role="form" method="post" enctype="multipart/form-data"
		action="/market/marketNew" th:object="${marketDto}" name="market_form">
		<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
			class="fieldError" style="margin-left: 350px;">Incorrect data</p>
		<div class="head">
			<!-- 지역 -->
			<select class="select" name="sido1" id="sido1"
				style="padding: 6px; margin-right: 20px;"></select>
			<!-- 도시 -->
			<select class="select" name="gugun1" id="gugun1"
				style="padding: 6px; margin-right: 120px; margin-right: 50px; padding-right: 50px;"></select>

			<input type="number" th:field="*{price}" class="form-control"
				style="width: 50%; height: 36px;" placeholder="가격을 입력해주세요.">


			<button type="button" class="btn btn-cancel" style="width: 120px;"
				onclick="location.href='/market/marketList'">취소</button>
			<div th:if="${#strings.isEmpty(marketDto.id)}"
				style="text-align: center">
				<button type="button" onclick="check();" class="btn btn-kiwi submit"
					style="width: 100px;">등록</button>
				<!--  data-bs-toggle="modal" data-bs-target="#exampleModal" -->
				<!-- th:formaction="@{/admin/market/new}"  -->
			</div>
		</div>
		<input type="hidden" th:field="*{id}">
		<div class="edit">
			<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
				class="fieldError"
				style="margin-left: 10px; margin-bottom: 10px; width: 250px;">Incorrect
				data</p>
			<div class="row">
				<textarea th:field="*{title}" class="form-control" cols="80px"
					style="width: 98%; height: 36px; border-style: none; font-weight: bold; font-size: x-large; margin-left: 10px;"
					placeholder="제목을 입력해주세요."></textarea>

			</div>

			<hr>
			<h5>대표이미지를 선택해주세요.</h5>
			<input type="file" class="file-input files" name="file" id="file">
			<br> <img id="previewImg" width="700" alt="대표이미지 영역" /> <br>
			<hr>

			<p th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"
				class="fieldError" style="width: 300px;">Incorrect data</p>
			<textarea th:field="*{detail}" name="text" id="editor"
				placeholder="내용을 입력해주세요."></textarea>


		</div>

		<input type="hidden" name="_csrf" id="_csrf" th:value="${_csrf.token}">

	</form>
	<script
		src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
	<script
		src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script th:inline="javascript">
	$(document).ready(function (){
        var errorMessage = [[${errorMessage}]];
        
        console.log(errorMessage);
        if(errorMessage != null){
            alert(errorMessage);
        } 
        
        
    }); 
	
		const $ckUploadPath = "image/upload?_csrf=" + $('#_csrf').val();
			ClassicEditor.create(document.querySelector('#editor'), {
				ckfinder: {
					uploadUrl : $ckUploadPath
				}
			})
			.then(editor => {
				console.log('Editor was initialized');
			})
			.catch(error => {
				console.error(error);
			});
			
		// 대표이미지 띄어주기
		const fileInput = document.getElementById("file");
		const handleFiles = (e) => {
			const selectedFile = [...fileInput.files];
			  const fileReader = new FileReader();

			  fileReader.readAsDataURL(selectedFile[0]); // 특정 파일 읽기

			  fileReader.onload = function () {
			    document.getElementById("previewImg").src = fileReader.result;
			    // 파일 내용 img태그의 src로 돌려줌
			  };
		};

		fileInput.addEventListener("change", handleFiles);
	

		
		// 대표이미지 예외처리
		function check(){
			var fileCheck = document.getElementById("file").value;
	    	if(!fileCheck){
	        	alert("대표이미지를 반드시 업로드해주세요.");
	        	return false;
	    	} 
	    	document.market_form.submit();
         	var Message = [[${Message}]];
         	if(Message != null){
         		alert(Message);
         	}
         } 

		
		</script>

	<!--서버 추가하기 모달창-->
	<!-- 
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="mb-3">
						<p>
						<div
							style="text-align: center; font-weight: bold; font-size: x-large;">글쓰기 완료</div>
						<br>
						<div style="text-align: center;">
							<button class="btn btn-kiwi" onclick="location.href='market'">확인</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
</div>
</html>