<!-- 테스트용 코드 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
</head>
<body>
	<div calss="container">
		<form role="form" method="post" enctype="multipart/form-data" action="/admin/market/new" th:object="${marketDto}">
	
		<table class="market_detail">
			<tr>
				<td>아이디</td>
				<td><input type="hidden" th:field="*{id}"></td>
			</tr>
			<tr>
				<td>제목</td>
				<td><textarea th:field="*{title}" class="form-control"
					cols="80px"
					style="width: 98%; height: 36px; border-style: none; font-weight: bold; font-size: x-large; margin-left: 10px;"
					placeholder="제목을 입력해주세요."></textarea><td>
			</tr>
			<tr>
				<td>내용</td>
				<td><input type="text" th:field="*{detail}"/></td>
			</tr>
			<tr>
				<td>가격</td>
				<td><input type="number" th:field="*{price}" class="form-control" style="width: 50%; height: 36px;" placeholder="가격을 입력해주세요."></td>
			</tr>
		</table>
		<input type="file" id="files" name="files" multiple="multiple"/> <!-- multiple="multiple" : 여러 파일 사용 가능 -->
		<input type="submit" id="submit" value="저장" class="btn">
		
		<input type="hidden" name="_csrf" id="_csrf" th:value="${_csrf.token}">
	</form>
	</div>
</body>
</html>